name: Build and Push to GHCR

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
        matrix:
          include:
            - cuda: 12.6.3
              ubuntu: 22.04
            - cuda: 12.4.1
              ubuntu: 22.04  

    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image with SSH server (for kubernetes mpi-operator)
      run: |
        docker build \
          --build-arg CUDA_VERSION=${{ matrix.cuda }} \
          --build-arg UBUNTU_VERSION=${{ matrix.ubuntu }} \
          -f kubernetes/Dockerfile \
          --label org.opencontainers.image.description="NCCL MPI test & SSH server image with CUDA ${{ matrix.cuda }} on Ubuntu ${{ matrix.ubuntu }}" \
          --label org.opencontainers.image.source="https://github.com/voltagepark/nccl-tests" \
          --label org.opencontainers.image.version="cuda${{ matrix.cuda }}-ubuntu${{ matrix.ubuntu }}" \
          -t ghcr.io/voltagepark/nccl-tests:cuda${{ matrix.cuda }}-ubuntu${{ matrix.ubuntu }}-ssh \
          .
        docker push ghcr.io/voltagepark/nccl-tests:cuda${{ matrix.cuda }}-ubuntu${{ matrix.ubuntu }}-ssh

    - name: Build Docker image
      run: |
        docker build \
          --build-arg CUDA_VERSION=${{ matrix.cuda }} \
          --build-arg UBUNTU_VERSION=${{ matrix.ubuntu }} \
          -f docker/Dockerfile \
          --label org.opencontainers.image.description="NCCL MPI test image with CUDA ${{ matrix.cuda }} on Ubuntu ${{ matrix.ubuntu }}" \
          --label org.opencontainers.image.source="https://github.com/voltagepark/nccl-tests" \
          --label org.opencontainers.image.version="cuda${{ matrix.cuda }}-ubuntu${{ matrix.ubuntu }}" \
          -t ghcr.io/voltagepark/nccl-tests:cuda${{ matrix.cuda }}-ubuntu${{ matrix.ubuntu }}\
          .
        docker push ghcr.io/voltagepark/nccl-tests:cuda${{ matrix.cuda }}-ubuntu${{ matrix.ubuntu }}
